[submodule "engine/libs/SDL"]
	path = engine/libs/SDL
url=https://github.com/kuujoo/SDL.git
[submodule "engine/libs/openal-soft"]
	path = engine/libs/openal-soft
	url = https://github.com/kuujoo/openal-soft.git
